@font-face {
    font-family: overpass;
    src: url("../tff/Overpass-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
}

main {
    font-family: overpass;
    background: rgb(214, 53, 1);
    background: linear-gradient(0deg, rgba(214, 53, 1, 1) 0%, rgba(222, 90, 0, 1) 25%, rgba(224, 141, 0, 1) 50%, rgba(222, 90, 0, 1) 75%, rgba(214, 53, 1, 1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#commande {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-block-start: 1vh;
    width: 300px;
}

#commandeBtn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#commandeBtn svg{
    height: fit-content;
    width: 100%;
    transform: scale(95%);
    padding: 0.5rem;
}

#Timer {
    margin-block-start: 1vh;
    height: 2vh;
    background-color: white;
    width: 300px;
}

#Timed {
    height: 2vh;
    background-color: rgb(214, 53, 1);
}

#playlist {
    margin-block-start: 2vh;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    padding: 1vh 1vw;
    border-radius: 15px;
    width: 300px;
    overflow-y: scroll;
}

.track {
    display: flex;
    align-items: center;
    margin-block-end: 1vh;
    padding: .35rem;
}

.track>div{
    margin-inline-end: 2vw;
}

#GrpDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 1.5vh;    
}

.track:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.hideP{
    display: none;
}

#side{
    position: fixed;
    z-index: 3;
    background-color: rgba(224, 141, 0, 1);
    height: 100%;
    right: 0;
    display: flex;
    transition: transform 0.5s ease-in;
    border-end-start-radius: 15px;
}
#sideButton{
    width: 5px;
    position: relative;
}
#sideButton .svgContent{
    transform: rotate(-90deg) scaleX(250%);
    right: -805%;
    bottom: 50%;
    position: absolute;
}
#side>div:last-of-type{
    margin: 0.5rem;
}
.sideTranslateX{
    transform: translateX(100%);
}

@media screen and (min-width:720px) {  
    main{
        flex-direction: column-reverse;
        
    }
    #playlist{
        border-start-start-radius: 0;
        border-start-end-radius: 0;
        margin-block-start: 0;
        width: 100%;
    }
    .track>div:last-of-type{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .track p{
        margin-block: .325vh;
    }
    #parent{
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin-block: 2vh;
    }
    .img720{
        width: 120px;
        height: 120px;
    }
    .hideP{
        display: block;
    }
    #side{
        top: 0;
    }
}
@media screen and (min-width:1080px) {
    .dph{
        display: none;
    }
    #div1080{
        display: flex;
        align-items: center;
        width: 500px;
        background-color: rgb(214, 53, 1);
        padding: 1rem;
        border-radius: 5px;
    }
    #div1080>div:last-of-type{
        margin-inline-start: 1vw;
    }
    #div1080>div:last-of-type p {
        margin-block: 1.25vh;
    }
}
